<div class="d-flex mb-1">
    <div class="mr-1">
        <a href="{% url 'instagram:user_page' suggested_user %}">
            <img src="{{ suggested_user.avatar_url }}" style="width:32px; height:32px;" class="rounded-circle">
        </a>
    </div>
    <div>
        <a href="{% url 'instagram:user_page' suggested_user.username %}">
            {{ suggested_user.username }}
        </a>
    </div>
    <div class="ml-auto">
        <a href="{% url 'user_follow' suggested_user.username %}">Follow</a>
    </div>
</div>